@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #242424;
  box-sizing: border-box;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

dialog::backdrop {
  backdrop-filter: blur(10px);
}
